source https://www.nuget.org/api/v2
redirects auto
nuget FSharp.Core

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck

nuget Suave

nuget Fable.Core 1.1.6
nuget Fable.Import.Node
nuget Fable.Import.Browser
nuget Fable.Import.Chokidar