source https://www.nuget.org/api/v2
redirects auto
storage:none
nuget FSharp.Core
nuget FSharp.Control.FusionTasks.FS41

nuget Expecto
nuget FsCheck

nuget Suave
nuget Newtonsoft.Json
nuget Proto.Actor
nuget Proto.Router

clitool dotnet-fable
nuget Fable.Core
nuget Fable.Import.Node
nuget Fable.Import.Browser
nuget Fable.Import.Electron
nuget Fable.JsonConverter